.background-game{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://o.rada.vn/data/image/2020/05/22/Top-game-kinh-di-am-anh-2020-700.jpg');
    width: 100%;
    height: 100%;
    background-size:contain;
    /* background-repeat: no-repeat; */
}
.character{
    width: 180px;
    height:180px;
    position:absolute;
    bottom: 0;
    left: 20px;
}
.bullet1{
    display: none;
    position: absolute;
    bottom: 102px;
    left:170px;
    width:40px;
    height:20px;
}
.bullet2{
    display: none;
    position: absolute;
    bottom: 134px;
    left: -11px;
    width: 40px;
    height: 20px;
}
.monster{
    /* display: none; */
    position: absolute;
    width:100px;
    height:120px;
    top:100px;
    left:40px;
}
.score{
    background-color: rgb(28, 106, 173);
    width: 100px;
    height:60px;
}